.container {
  width: 95%;
  margin: 0 auto;
}

.bannerImage {
  display: none;
}

@media (min-width: 500px) {
  .bannerImage {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin: 0;
  }
}
